# üß± Feature Engineering & Data Preparation

## üéØ Objective
Prepare the dataset for modeling by separating features and target
variables and creating reproducible training and testing splits.

## üóÇÔ∏è Data Source

We continue using the **California Housing dataset** provided by
`scikit-learn`, ensuring consistency with the exploratory analysis.

In [1]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split

In [2]:
housing = fetch_california_housing(as_frame=True)
df = housing.frame

df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

## ‚úÇÔ∏è Feature‚ÄìTarget Separation

The target variable (**`MedHouseVal`**) is separated from the feature
matrix to prevent data leakage and maintain clean modeling pipelines.

In [3]:
X = df.drop(columns=["MedHouseVal"])
y = df["MedHouseVal"]

X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

## üîÄ Train/Test Split

The dataset is split into training and testing sets using a fixed
random seed to ensure reproducibility.

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42
)

X_train.shape, X_test.shape

((16512, 8), (4128, 8))

## ‚úÖ Validation

We confirm that:
- Training and test sets have compatible shapes
- No rows are lost during the split

In [5]:
assert X_train.shape[0] + X_test.shape[0] == X.shape[0]
assert y_train.shape[0] + y_test.shape[0] == y.shape[0]

"Train/test split validated successfully"

'Train/test split validated successfully'

## üìù Notes

- No feature transformations are applied yet.
- This notebook establishes a clean baseline for modeling.
- Feature scaling and engineering can be added later as needed.

## üöÄ Next Steps

- Train baseline regression models
- Evaluate performance using appropriate metrics
- Compare multiple model families